<% layout('layouts/boilerplate') %>
    <div id="equipmentCard" class="col-md-6 mx-auto">
        <div class="card">
            <% for( let single of item) { %>
                <div class="card-body"></div>
                <h5 class="card-title">
                    <%=single.item_name %>
                </h5>
                <p class="card-text"><b>Description</b>: <br>
                    <%=single.description %>
                </p>
                <p class="card-text"><b>Usage</b>: <br>
                    <%=single.purpose %>
                </p>
        </div>
        <img src="/public/images/equipment/<%=single.item_image %>" class=" card-img-bottom" alt="...">
        <% } %>
    </div>
    </div>