<footer id="footer" class="footer py-3 mt-auto sticky-bottom">
    <div class="container w-75">
        <div class="row">
            <div class="col-md col-sm privacy">
                <a class="underline" href="#">Privacy Policy</a> |
            </div>
            <div class="col-md col-sm">
                <div class="float-end footer-icons">
                    <a target="_blank" title="Facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a target="_blank" title="Instagram" href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a target="_blank" title="Linkedin" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>