<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">
            <picture>
                <img src="public/images/logo.png" class="img-fluid img-thumbnail border-0 bg-light logo picture"
                    alt="logo">
            </picture>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/">HOME</a>
                <a class="nav-link" href="#">PROGRAMS</a>
                <a class="nav-link" href="#">CONTACTS</a>
            </div>
        </div>
</nav>