<% layout('layouts/boilerplate') %>
    <section class="contacts">
        <div class="contact-container">
            <div class="form-container">
                <form action="" id="contact-form">
                    <div class="form-wrapper">
                        <div class="get-started outline">
                            <h3>GET STARTED TODAY</h3>
                        </div>
                        <div class="form-controler">
                            <div class="first-row ">
                                <label for="first-name"></label>
                                <input type="text" name="first-name" id="first-name" placeholder="First Name*">
                            </div>
                            <div class="first-row ">
                                <label for="last-name"></label>
                                <input type="text" name="last-name" id="last-name" placeholder="Last Name">
                            </div>
                            <div class="first-row ">
                                <label for="e-mail"></label>
                                <input type="text" name="e-mail" id="e-mail" placeholder="Email*">
                            </div>
                            <div class="first-row ">
                                <label for="phone"></label>
                                <input type="text" name="phone" id="phone" placeholder="Phone (Optional)">
                            </div>
                        </div>
                        <div class="outline" id="check">
                            <input type="checkbox" id="checkbox">
                            <label for="checkbox">Request a consultation</label>
                        </div>
                        <div class="get-started outline">
                            <h3>COMPLETE IF REQUESTING CONSULTATION</h3>
                            <p>if requesting a consultation, please complete the information below.</p>
                        </div>
                        <div class="form-controler">
                            <div class="second-row ">
                                <label for="height"></label>
                                <input type="text" name="height" id="height" placeholder="Height">
                            </div>
                            <div class="second-row ">
                                <label for="weight"></label>
                                <input type="text" name="weight" id="weight" placeholder="Weight">
                            </div>
                            <div class="second-row ">
                                <label for="date"></label>
                                <input type="text" name="date" id="date" placeholder="Date of Birth - dd/mm/yy">
                            </div>
                        </div>
                        <div class="third-row outline">
                            <label for=""></label>
                            <input type="text" name="" id=""
                                placeholder="How many days a week are you currently working out?">
                        </div>
                        <div class="third-row outline">
                            <label for=""></label>
                            <input type="text" name="" id="" placeholder="How long are your typical workouts?">
                        </div>
                        <div class="third-row outline">
                            <label for=""></label>
                            <input type="text" name="" id=""
                                placeholder="How many days realistically would you like to work out?">
                        </div>
                        <div class="third-row outline">
                            <label for=""></label>
                            <input type="text" name="" id="" placeholder="What are your fitness goals?">
                        </div>
                        <div class="third-row outline">
                            <label for=""></label>
                            <input type="text" name="" id=""
                                placeholder="What days and hour do you typically work out?">
                        </div>
                        <div class="third-row outline">
                            <label for=""></label>
                            <textarea name="" id="" cols="3" rows="6" placeholder="Message"></textarea>
                        </div>
                        <div class="third-row outline">
                            <label for=""></label>
                            <input type="text" name="" id="" placeholder="How did you hear about Sault Fitness?">
                        </div>
                        <div class="start-button outline">
                            <button id="btnStart">START NOW</button>
                        </div>
                    </div>
                </form>
                <div class="divider outline">
                    <div class="horizontal-line">
                        <p></p>
                    </div>
                </div>
                <div class="location-details">
                    <div class="location">
                        <div class="location-wrapper">
                            <div class="location-top">
                                <div class="location-header">
                                    <h2>LOCATION</h2>
                                </div>
                            </div>
                            <div class="location-bottom">
                                <div class="bottom-wraper">
                                    <p>102 State Road</p>
                                    <p>North Darmouth MA 02747</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="location location1">
                        <div class="location-wrapper">
                            <div class="location-top">
                                <div class="location-header location-header1">
                                    <h2>MORE DETAILS</h2>
                                </div>
                            </div>
                            <div class="location-bottom">
                                <div class="bottom-wraper bottom-wraper1">
                                    <p>
                                        <a href="info@saultfitness.com">info@saultfitness.com</a>
                                    </p>
                                    <p>
                                        <a href="tel:508-207-6698">508.207.6608</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>