<% layout('layouts/boilerplate') %>
    <section class="contacts">
        <div class="contact-container">
            <div class="form-container">
                <form action="" id="form">
                    <div class="form-wrapper">
                        <div class="get-started outline">
                            <h3>GET STARTED TODAY</h3>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>