<% layout('layouts/boilerplate') %>
    <h1>Under Construction...</h1>
    <div class="container">
        <div class="row">
            <div class="col-md text-md">
                <h3>To create an account click on the register button</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-primary" href="/users/new" role="button">Register</a>
            </div>
        </div>
        <div class="container" style="width: 1040px;">
            <div class="row justify-content-sm-center">
                <div class="row">
                    <div class="col-md">
                        <h2 class="text-center">TEAM TRAINING</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>
                            A unique blend of resistance based excersises and HIIT style cardio. Specifically designed
                            to help you
                            lose weight, gain strength and tighten and tone those muscles. Using science based
                            programming we have
                            made movement patterns and mobility our top priority. These workouts will leave you feeling
                            and moving
                            better all while getting the results you are looking for.
                        </p>
                    </div>
                    <div class="col-3">
                        <ul>
                            <li>Nutritional plan</li>
                            <li>At home workouts</li>
                            <li>Progress reports</li>
                            <li>Accountability check ins</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul>
                            <li>Fat burning intervals</li>
                            <li>Sample menu plans</li>
                            <li>Support</li>
                            <li>Guaranted fun and Results</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md text-center">
                        <p>
                            Team Training Available Upon Request
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div style="background-color: #19b0b8; height: 40px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>