<% layout('layouts/boilerplate') %>
    <div class="container" id="topOfPage">
        <div class="row">
            <div class="col-md col-sm">
                <div class="float-end">
                    <div class="float-end" id="Switcher">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="switch">
                            <label class="form-check-label" for="switch">Click to switch theme
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="start">
        <div class="startOverlay"></div>
        <div class="shape shape-bottom" data-negative="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                <path class="borderFill" d="M500,98.9L0,6.1V0h1000v6.1L500,98.9z"></path>
            </svg>
        </div>
        <div class="wrapper">
            <div class="wrap-row">
                <div class="wrap-col">
                    <div class="col-wrap">
                        <div class="all-col-wrap">
                            <div class="col-wrap1">
                                <div class="expert-wrap">
                                    <h2>YOUR FITNESS EXPERTS</h2>
                                </div>
                            </div>
                            <div class="col-wrap1">
                                <div class="membership-wrap">
                                    <h1>MEMBERSHIP OPTIONS</h1>
                                </div>
                            </div>
                            <section class="sectionwrap">
                                <div class="sectionwrap-first">
                                    <div class="all-col-wrap">
                                        <div class="sectionwrap-top">
                                            <div class="section-text">
                                                <p>Our nationally certified trainers are here to help
                                                    you get into shape easier and faster than ever.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="section-btn">
                                            <a href="#membershipOptions" role="button" class="viewOptionBtn">
                                                <span>VIEW OPTIONS</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="shape">
        <div class="shape1 shape-side" data-negative="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                <path class="borderFill" d="M500.2,94.7L0,0v100h1000V0L500.2,94.7z"></path>
            </svg>
        </div>
    </section>
    <div class="container" id="membershipOptions">
        <div class="options">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-3">
                <div class="col-md-4 privateTraining">
                    <div class="topPart text-center">
                        <h3>ONCE A WEEK</h3>
                        <span>FOR 12 WEEKS</span>
                    </div>
                    <div class="priceTag">
                        <span class="curency">$</span>
                        <span class="amount">248</span>
                        <span class="month">/ Per month</span>
                    </div>
                    <ul>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Customized personal training</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>12 week nutritional plan</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>At home workouts</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Monthly progress report</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Individual menu planning</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Weekly accountability check-ins</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Fat burning intervals</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Sample menu plans</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Food journal checklist</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>SUPPORT</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>100% GUARANTEED results!</span>
                            </div>
                        </li>
                    </ul>
                    <div class="signUp">
                        <a class="signUpBtn" type="button" href="#homeForm">Sign Up Now!</a>
                    </div>
                </div>

                <div class="col-md-4 privateTraining">
                    <div class="topPart text-center">
                        <h3>TWICE A WEEK</h3>
                        <span>FOR 12 WEEKS</span>
                    </div>
                    <div class="priceTag">
                        <span class="curency">$</span>
                        <span class="amount">496</span>
                        <span class="month">/ Per month</span>
                    </div>
                    <ul>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Customized personal training</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>12 week nutritional plan</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>At home workouts</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Monthly progress report</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Individual menu planning</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Weekly accountability check-ins</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Fat burning intervals</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Sample menu plans</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Food journal checklist</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>SUPPORT</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>100% GUARANTEED results!</span>
                            </div>
                        </li>
                    </ul>
                    <div class="signUp">
                        <a class="signUpBtn" type="button" href="#homeForm">Sign Up Now!</a>
                    </div>
                </div>

                <div class="col-md-4 privateTraining">
                    <div class="topPart text-center">
                        <h3>THREE TIMES A WEEK</h3>
                        <span>FOR 12 WEEKS</span>
                    </div>
                    <div class="priceTag">
                        <span class="curency">$</span>
                        <span class="amount">744</span>
                        <span class="month">/ Per month</span>
                    </div>
                    <ul>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Customized personal training</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>12 week nutritional plan</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>At home workouts</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Monthly progress report</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Individual menu planning</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Weekly accountability check-ins</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Fat burning intervals</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Sample menu plans</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>Food journal checklist</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>SUPPORT</span>
                            </div>
                        </li>
                        <li>
                            <div class="listItem">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <span>100% GUARANTEED results!</span>
                            </div>
                        </li>
                    </ul>
                    <div class="signUp">
                        <a class="signUpBtn" type="button" href="#homeForm">Sign Up Now!</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md col-sm text-center">
                <h2 class="team">TEAM TRAINING</h2>
            </div>
        </div>

    </div>
    <div class="teamTrainingContainer">
        <div class="info-paragraph">
            <div class="info-wrapper">
                <p> A unique blend of resistance based excersises and HIIT style cardio. Specifically designed
                    to help you
                    lose weight, gain strength and tighten and tone those muscles. Using science based
                    programming we have
                    made movement patterns and mobility our top priority. These workouts will leave you feeling
                    and moving
                    better all while getting the results you are looking for.</p>
            </div>
        </div>
        <div class="info-ul">
            <div class="info-wrapper">
                <ul>
                    <li>Nutritional plan</li>
                    <li>At home workouts</li>
                    <li>Progress reports</li>
                    <li>Accountability check ins</li>
                </ul>
            </div>
        </div>
        <div class="info-ul">
            <div class="info-wrapper">
                <ul>
                    <li>Fat burning intervals</li>
                    <li>Sample menu plans</li>
                    <li>Support</li>
                    <li>Guaranted fun and results</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center ttreq">
                <p>
                    Team Training Available Upon Request
                </p>
            </div>
        </div>
    </div>
    <div id="hr">
    </div>
    <div class="container text-center mb-5">
        <div class="row">
            <div class="col-md col-sm text-center">
                <h2 class="team">REGISTER TODAY!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center ttreq">
                <p>
                    We will get in conntact with you to start your plan as soon as we can.
                </p>
            </div>
        </div>
        <div id="homeForm" class="row mx-auto">
            <form action="#">
                <div class="row">
                    <div class="col form-group">
                        <label for="first" class="form-label"></label>
                        <input type="text" class="form-control shadow-none placeholder-text" id="first" name="first"
                            placeholder="First Name" required>
                    </div>
                    <div class="col form-group">
                        <label for="last" class="form-label"></label>
                        <input type="text" class="form-control placeholder-text" id="last" name="last"
                            placeholder="Last Name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="email" class="form-label"></label>
                        <input type="email" class="form-control placeholder-text" id="email" name="email"
                            placeholder="Email*" required>
                    </div>
                    <div class="col form-group">
                        <label for="phone" class="form-label"></label>
                        <input type="text" class="form-control placeholder-text" id="phone" name="phone"
                            placeholder="Phone (Optional)" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="textarea"></label>
                        <textarea class="form-control form-label placeholder-text" name="textarea" id="textarea"
                            cols="2" rows="6" placeholder="Message (Optional)"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="planType" class="form-label form-control planType">
                            <select name="planType" id="planType">
                                <option value="-- Plan Type --">-- Plan Type --</option>
                                <option value="Once A Week">Once A Week</option>
                                <option value="Twice A Week">Twice A Week</option>
                                <option value="Three Times A Week">Three Times A Week</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button id="btnStart">START NOW</button>
                    </div>
                </div>
            </form>
        </div>
    </div>