<% layout('layouts/boilerplate') %>
    <h2>User Informations: </h2>
    <label for="username">Username:
        <input type="text" placeholder=<%=username %> >
    </label>
    <label for="password">Password:
        <input type="password" placeholder=<%=password %> >
    </label>