<% layout('layouts/boilerplate') %>
    <h2>User Informations: </h2>
    <div class="mb-3 col-md-4">
        <label for="username">Username: </label>
        <input type="text" placeholder=<%=username %> >
    </div>
    <div class="mb-3 col-md-4">
        <label for="password">Password:</label>
        <input type="password" placeholder=<%=password %> >
    </div>