body {
    background-color: white;
    width: 100%;
    color: #7A7A7A;
}

/* navbar styles*/
#navbar {
    font-family: Poppins, sans-serif;
    padding: 0;
    border-bottom: solid rgb(190, 183, 183) 0.5px;
}

.navbar-nav a {
    line-height: 95px;
    height: 95.5px;
    font-size: 12px;
    font-weight: 600;
    color: rgba(34, 34, 34, 1);
}

.navbar-brand img {
    min-width: 123px;
    max-height: 55.5px;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
}

a.nav-link:hover {
    color: #19b0b8;
}

img.logo:hover {
    opacity: 0.5;
    transition: ease-in;
}

/* footer styles*/
#footer {
    background-color: rgba(17, 17, 17, 1);
}

.underline {
    color: rgba(136, 136, 136, 1);
    text-decoration: none;
    font-size: 12px;
    line-height: 26px;
}

.float-end a {
    color: #fff;
    height: 26px;
    width: 26px;
    line-height: 26px;
    transition: background-color .5s, color .5s, opacity .5s !important;
    padding: 0 4px;
}

.footer-icons a:nth-of-type(1):hover {
    color: #4A73C9;
}

.footer-icons a:nth-of-type(2):hover {
    color: #3F729B;
}

.footer-icons a:nth-of-type(3):hover {
    color: #0E76A8;
}

.privacy a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
    transition: background-color .5s, color .5s;
    transition: ease-in-out;
}

/* body section part */
.team-training-container {
    max-width: 1040px;
    margin-left: 115px;
    margin-right: 0;
}

.team {
    color: #19b0b8;
    margin-bottom: 55px;
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: -2px;
}

.ttinfo p {
    margin-bottom: 45px;
    margin-top: 15px;
}

.ttinfo {
    width: 460px;
    margin-left: 40px;
}

.list1 {
    padding: 0;
    margin-left: 10px;
}

.list2 {
    padding: 0;
    margin-right: 10px;

}

.ttreq p {
    margin: 16px 0;
}

.list1 ul,
.list2 ul {
    margin-top: 10px;
    padding-left: 10px;
}

.team-training-container {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.7;
}

#hr {
    width: 100%;
    background-color: #19b0b8;
    height: 41px;
}