<% layout('layouts/boilerplate') %>
    <div class="blogHeader">
        <div class="blogHeaderContainer">
            <div class="blogTitleWrapper">
                <h1>THE SAULT FITNESS BLOG</h1>
            </div>
        </div>
    </div>
    <article id="blogcontent">
        <div class="blogLimiter">
            <div class="blogWrapper">
                <div class="containAll">
                    <% for(let blog of blogs) {%>
                        <div class="blogPostContainer">
                            <div class="imagePost">
                                <a href="#">
                                    <img width="420" src="/public/images/blog/<%=blog.blog_image%>" alt="">
                                </a>
                            </div>
                            <div class="blogTextFixer">
                                <div class="blogDate">
                                    <time>
                                        <%=blog.date%>
                                    </time>
                                </div>
                                <h2 class="blogPostTitle">
                                    <a href="#">
                                        <%=blog.post_title%>
                                    </a>
                                </h2>
                                <div class="blogPostBody">
                                    <p>
                                        <%=blog.post%>...
                                    </p>
                                    <p>
                                        <a href="#">Read more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% } %>

                </div>
            </div>
        </div>
    </article>