<% layout('layouts/boilerplate') %>
    <div class="container">
        <h1>Create Account</h1>
        <form action="/users/index" method="POST">
            <div class="mb-3 col-md-4">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3 col-md-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3 col-md-4">
                <label for="image" class="form-label">Image</label>
                <input type="text" class="form-control" id="image" name="image" required>
            </div>
            <div class="mb-3 col-md-4">
                <label for="status">Status</label>
                <select name="status" id="status">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
            <button class="btn btn-success">Register</button>
        </form>
    </div>