<% layout('layouts/boilerplate') %>
    <div class="container">
        <h1>this is secret rout for logout</h1>
        <form action="/logout" method="POST">

            <button class="btn btn-success">Logout</button>
        </form>
    </div>