<% layout('layouts/boilerplate') %>
    <div class="container">
        <h1>
            Details of User: <%=user.username %>
        </h1>
        <ul>
            <li>Username: <%=user.username %>
            </li>
            <li>Password: <%=user.password %>
            </li>
            <li>Status:
                <% if(user.isLogedIn) {%>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Active
                        </label>
                    </div>
                    <% } else { %>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Active
                            </label>
                        </div>
                        <% } %>
            </li>
            <div class="col-sm mt-3">
                <a class="btn btn-outline-dark" href="/users/<%=user._id%>/edit" role="button">Edit User
                    Informations</a>
            </div>
        </ul>
    </div>